<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="hero">
    <picture>
      <source media="(min-width: 900px)" srcset="./images/man-and-child-playground-full.jpg">
      <source media="(min-width: 500px)" srcset="./images/man-and-child-playground-half.jpg">
      <source media="(min-width: 300px)" srcset="./images/man-and-child-playground-mobile.jpg">
      <img src="./images/man-and-child-playground-full.jpg" alt="Child jumping into a man's arms in a playground" />
    </picture>
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADVATE<sup>&reg;</sup> (octocog alfa) – for the treatment of haemophilia A</h1>
      <p>Welcome to the ADVATE patient website.</p>
      <p>Your haemophilia treatment centre has provided you with access to this Takeda-developed website because they have prescribed ADVATE for you as a treatment or a preventative treatment (prophylaxis) for <span class="orphan">haemophilia A.</span></p>
      <p>Here you will find information about haemophilia (including symptoms and key facts), support regarding your treatment with ADVATE, and sources of further advice and information.</p>
    </div>
  </div>

  <div class="content">
    <div class="flex wrap">

      <div class="half box rounded">
        <a href="./advate-resources" class="action">ADVATE patient resources</a>
      </div>

      <div class="half box rounded">
        <a href="./living-with-haemophilia" class="action">Living with Haemophilia resources</a>
      </div>

    </div>
    <div class="content">
      <div class="twoThirds">
        <p>ADVATE is used for the treatment and prevention of bleeding in patients of all age groups with <span class="orphan">haemophilia A</span> <span class="orphan">(an inherited</span> bleeding disorder caused by lack of factor VIII).</p>
      </div>
    </div>
  </div>

  <div class="greyBg">
    <div class="content">
      <div class="flex wrap">

        <div class="half tile">
          <a href="https://haemophilia.org.uk">
            <img src="./images/heamophilia-society-logo.svg" alt="The Haemophilia Society Logo" title="The Haemophilia Society" />
          </a>
          <div>
            <h2>The Haemophilia Society</h2>
            <p>The Haemophilia Society is an active support group for people with haemophilia and their families, and provides lots of up-to-date information and individual support on the management and treatment of haemophilia, and about living with the condition. Many people with haemophilia gain great support from other patients. The Society also offers a unique opportunity for people affected by haemophilia to get in touch with other people in similar circumstances.</p>
            <p>For further information about the Haemophilia Society:</p>
            <a class="button" data-destination="Haemophilia Society" href="https://haemophilia.org.uk">Visit the Haemophilia Society Website</a>
          </div>
        </div>

        <div class="half tile">
          <img src="./images/we-bleed-differently-logo.svg" alt="The We Bleed Differently Logo" title="We Bleed Differently" />
          <div>
            <h2>We Bleed Differently</h2>
            <p>The We Bleed Differently (WBD) campaign has been initiated and funded by Takeda, and developed together with The Haemophilia Society.</p>
            <p>We Bleed Differently is a campaign to provide practical support tools for people with bleeding disorders and their care teams. We want to support people with bleeding disorders and healthcare professionals to have the discussions that enable people with bleeding disorders to live the life they want to. Takeda is delighted to be partnering with The Haemophilia Society in this campaign and their ongoing work to support, inform and inspire all members of the bleeding disorder community.</p>
            <p>For further information about the WBD campaign:</p>
            <a class="button" data-destination="We Bleed Differently" href="https://www.webleeddifferently.co.uk">Visit the We Bleed Differently website</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <%- include('includes/patient-dialog.ejs') %>
  <%- include('includes/external-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>