<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="hero">
    <picture>
      <source media="(min-width: 900px)" srcset="./images/man-in-garden-full.jpg">
      <source media="(min-width: 500px)" srcset="./images/man-in-garden-half.jpg">
      <source media="(min-width: 300px)" srcset="./images/man-in-garden-mobile.jpg">
      <img src="./images/man-in-garden-full.jpg" alt="Man holding a basket full of vegetables in a garden" />
    </picture>
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADYNOVI<sup>&reg;</sup>&#9660 (rurioctocog alfa pegol) – for the treatment of haemophilia A in adults and children over 12 years of age</h1>
      <p>You have been prescribed ADYNOVI<sup>®</sup>, which is used for the treatment and preventative treatment (prophylaxis) of bleeding in people with <span class="orphan">haemophilia A</span> (congenital factor VIII deficiency) aged <span class="orphan">12 years</span> or over.</p>
      <p>These materials provide further information about ADYNOVI and how it works as a treatment and prophylactic (preventative) treatment of <span class="orphan">haemophilia A.</span></p>
      <p>Information provided in these materials is not a substitute for the Patient Information Leaﬂet (PIL) which is provided with your medicine. Please ensure that you read the PIL.</p>
      <p>The PIL can be accessed as follows:</p>
      <p><strong>For England, Wales & Scotland via these links:</strong></p>
      <p><a data-destination="ADYNOVI Patient Information Leaflet" href="https://www.medicines.org.uk/emc/product/11155/pil">ADYNOVI 1000 IU powder and solvent for solution for injection 2 ml solvent</a></p>
      <p><a data-destination="ADYNOVI Patient Information Leaflet" href="https://www.medicines.org.uk/emc/product/11159/pil">ADYNOVI 2000 IU powder and solvent for solution for injection 5 ml solvent</a></p>
      <p><strong>For Northern Ireland via:</strong></p>
      <p><a data-destination="ADYNOVI Patient Information Leaflet" href="https://www.emcmedicines.com/en-gb/northernireland/medicine?id=9c6456a3-bbe2-4843-9d9a-ab4f2335ee02&type=pil">ADYNOVI 250 IU / 2 ml powder and solvent for solution for injection</a></p>
      <p><a data-destination="ADYNOVI Patient Information Leaflet" href="https://www.emcmedicines.com/en-gb/northernireland/medicine?id=48aa9d02-ebb9-4f61-8573-d0edfcfacdad&type=pil">ADYNOVI 2000 IU powder and solvent for solution for injection 5 ml solvent</a></p>
      <p>The information provided on this site is general educational information and does not take the place of professional medical advice. Always follow your doctor or nurse’s instructions and talk with them about any questions or problems you have regarding your health and treatment.</p>
    </div>
  </div>

  <div class="greyBg resources">

    <div class="content">

      <div class="flex wrap">

        <div class="tile flex half">
          <figure>
            <img src="./images/guide-adynovi-patient-leaflet.jpg" alt="Guide to ADYNOVI" title="Download PDF" width="150px" height="200px" />
          </figure>
          <div>
            <h2 class="red">Your guide to ADYNOVI</h2>
            <p>Important things to know about storing and using ADYNOVI, and the ready-to-use reconstitution system (BAXJECT III).</p>
            <p><a href="./docs/your-guide to adynovi-patient-leavepiece-2021.pdf" class="action" target="_blank" rel="noopener">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure>
            <img src="./images/adynovi-reconstitution-administration-guide.jpg" alt="Reconstituting and Administering ADYNOVI guide" title="Download PDF" width="150px" height="200px" />
          </figure>
          <div>
            <h2 class="red">Your guide to reconstituting and administering ADYNOVI</h2>
            <p>A simple 4-step guide to reconstituting and administering ADYNOVI.</p>
            <p><a href="./docs/adynovi-reconstitution-administration-guide.pdf" class="action" target="_blank" rel="noopener">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <figure class="video">
            <picture>
              <source media="(min-width: 900px)" srcset="./images/adynovi-reconstitution-patient-video-vert.jpg">
              <source media="(min-width: 600px)" srcset="./images/adynovi-reconstitution-patient-video-900.jpg" />
              <source media="(min-width: 300px)" srcset="./images/adynovi-reconstitution-patient-video-600.jpg" />
              <img src="./images/giving-yourself-factor-video.jpg" alt="Giving yourself factor video" title="Watch video" />
            </picture>
          </figure>
          <div>
            <h2 class="red">Ready-to-use reconstitution system (BAXJECT III) video</h2>
            <p>Watch how to use the BAXJECT III reconstitution system.</p>
            <p><a class="action video">Watch video</a></p>
          </div>
          <div class="video hidden">
            <p class="close"></p>
            <video-js data-account="3871979161001" data-player="cvx7vLnH4" data-embed="default" controls="" data-video-id="6306254646112" data-playlist-id="" data-application-id="" class="vjs-fluid"></video-js>
            <script src="https://players.brightcove.net/3871979161001/cvx7vLnH4_default/index.min.js"></script>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <%- include('includes/external-dialog.ejs') %>
  <%- include('includes/patient-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>