<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="hero">
    <picture>
      <source media="(min-width: 900px)" srcset="./images/man-in-garden-full.jpg">
      <source media="(min-width: 500px)" srcset="./images/man-in-garden-half.jpg">
      <source media="(min-width: 300px)" srcset="./images/man-in-garden-mobile.jpg">
      <img src="./images/man-in-garden-full.jpg" alt="Man holding a basket full of vegetables in a garden" />
    </picture>
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>ADYNOVI<sup>&reg;</sup><span class="triangle">&#9660;</span> (rurioctocog alfa pegol) – for the treatment of <span class="orphan">haemophilia A</span> in adults and children over <span class="orphan">12 years</span> of age</h1>
      <p>Welcome to the ADYNOVI patient website.</p>
      <p>Your haemophilia treatment centre has provided you with access to this Takeda-developed website because they have prescribed ADYNOVI for you as a treatment or a preventative treatment (prophylaxis) for <span class="orphan">haemophilia A.</span></p>
      <p>ADYNOVI is an ‘extended half-life’ (or EHL) factor VIII treatment.</p>
      <p>Other treatments for haemophilia A called ‘standard half-life’ (or SHL) factor VIII, stay in the blood for a relatively shorter time compared with EHL treatments. SHL factor treatments require repeat injections for prophylaxis (every 2-3 days for <span class="orphan">haemophilia A).</span></p>
      <p>ADYNOVI contains the active substance rurioctocog alfa pegol (pegylated human coagulation factor VIII). It has been modified to prolong its duration of action. This means that ADYNOVI stays in the blood for longer than with an SHL treatment and may reduce the number of injections needed.</p>
      <p>Here you will find information about haemophilia (including symptoms and key facts), support regarding your treatment with ADYNOVI, and sources of further advice and information.</p>
    </div>
  </div>

  <div class="content">
    <div class="flex wrap">

      <div class="half box rounded">
        <a href="./adynovi-resources" class="action">ADYNOVI patient resources</a>
      </div>

      <div class="half box rounded">
        <a href="./living-with-haemophilia" class="action">Living with Haemophilia resources</a>
      </div>

    </div>
  </div>
  <div class="content">
    <div class="twoThirds">
      <p>ADYNOVI is used for the treatment and prevention of bleeding in patients from <span class="orphan">12 years</span> of age with <span class="orphan">haemophilia A</span> (an inherited bleeding disorder caused by lack of factor VIII).</p>
    </div>
  </div>

  <div class="greyBg">
    <div class="content">
      <div class="flex wrap">

        <div class="half tile">
          <img src="./images/heamophilia-society-logo.svg" alt="The Haemophilia Society Logo" title="The Haemophilia Society" />
          <div>
            <h2>The Haemophilia Society</h2>
            <p>The Haemophilia Society is an active support group for people with haemophilia and their families, and provides lots of up-to-date information and individual support on the management and treatment of haemophilia, and about living with the condition. Many people with haemophilia gain great support from other patients. The Society also offers a unique opportunity for people affected by haemophilia to get in touch with other people in similar circumstances.</p>
            <p>For further information about the Haemophilia Society:</p>
            <a class="button" data-destination="Haemophilia Society" href="https://haemophilia.org.uk">Visit the Haemophilia Society Website</a>
          </div>
        </div>

        <div class="half tile">
          <img src="./images/we-bleed-differently-logo.svg" alt="The We Bleed Differently Logo" title="We Bleed Differently" />
          <div>
            <h2>We Bleed Differently</h2>
            <p>The We Bleed Differently (WBD) campaign has been initiated and funded by Takeda, and developed together with The Haemophilia Society.</p>
            <p>We Bleed Differently is a campaign to provide practical support tools for people with bleeding disorders and their care teams. We want to support people with bleeding disorders and healthcare professionals to have the discussions that enable people with bleeding disorders to live the life they want to. Takeda is delighted to be partnering with The Haemophilia Society in this campaign and their ongoing work to support, inform and inspire all members of the bleeding disorder community.</p>
            <p>For further information about the WBD campaign:</p>
            <a class="button" data-destination="We Bleed Differently" href="https://www.webleeddifferently.co.uk">Visit the We Bleed Differently website</a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <%- include('includes/external-dialog.ejs') %>
  <%- include('includes/patient-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>