<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="hero">
    <img src="./images/father-and-son-cycling-hero.jpg" alt="Father and son cycling through a forest outdoors" title="Living with Haemophilia" />
  </div>

  <div class="content">
    <div class="twoThirds">
      <h1>Resources for people living with haemophilia</h1>
      <p>Haemophilia is a complex disorder and you may have lots of questions about your condition, both when you are first diagnosed and also throughout your life with haemophilia.</p>
      <p>Your haemophilia treatment centre and the Haemophilia Society are here to support you. Takeda UK Limited have also developed the following resources to help you and your caregivers learn more about haemophilia.</p>
      <p><strong>The guides below cover both <span class="orphan">haemophilia A and B</span> and therefore, not all the information may be applicable to your condition.</strong></p>
    </div>
  </div>

  <div class="greyBg resources">

    <div class="content">

      <div class="flex wrap">

        <div class="tile flex half">
          <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Living with haemophilia: in the classroom. A teacher’s guide</h2>
            <p>A brief guide that can be shared with a patient’s teacher to support the management of haemophilia at school.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <img src="https://picsum.photos/150/200" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Living with haemophilia: at home. A parent’s guide to factor infusion</h2>
            <p>A brief guide to factor infusion for parents or carers of children with haemophilia.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>

        <div class="tile flex half">
          <img class="video" src="https://picsum.photos/250/350" alt="downloadable" title="download this" />
          <div>
            <h2 class="red">Living with haemophilia: A guide to mild and moderate haemophilia</h2>
            <p>A brief guide for patients, carers or parents of children with mild or moderate haemophilia.</p>
            <p><a href="/somethng.pdf" class="action">View PDF</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="content">
    <div class="box full hs flex rounded">
      <img src="./images/heamophilia-society-logo-reverse.svg" alt="Haemophilia Society Logo" title="The Haemophilia Society" />
      <div>
        <h3>The Haemophilia Society</h3>
        <p>The Haemophilia Society is an active support group for people with haemophilia and their families, and provides lots of up-to-date information and individual support on the management and treatment of haemophilia, and about living with the condition. Many people with haemophilia gain great support from other patients. The Society also offers a unique opportunity for people affected by haemophilia to get in touch with other people in similar circumstances.</p>
        <p>For further information about the Haemophilia Society, please visit: <a data-destination="Haemophilia Society" href="https://haemophilia.org.uk">https://haemophilia.org.uk</a></p>
      </div>
    </div>
  </div>
  <%- include('includes/external-dialog.ejs') %>
  <%- include('includes/patient-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>