<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
  <div class="content">
    <h1>Terms of Use</h1>
    <p>Welcome to the Takeda website for people with haemophilia A who have been prescribed ADVATE® (octocog alfa)/ADYNOVI® (rurioctocog alfa pegol) in the UK (the “Website”). The information provided on this Website is about Takeda and its products. It is for general information and education purposes only. Please read and review these Terms of Use carefully before accessing and using this Website.</p>

    <h3>1. Use of Takeda Website</h3>
    <p>Your access to and use of this Website is subject to the following terms and conditions and all applicable laws. By using any of the contents of this Website, including but not limited to, all text and images (the “Contents”) you hereby acknowledge that you have read, understood and agreed, without limitation or qualification, to these Terms of Use and acknowledge that any other agreements between you and Takeda UK Limited, having its offices at 1 Kingdom St, London W2 6BD, United Kingdom (“Takeda”) are superseded with respect to this subject matter.</p>

    <h3>2. Information purposes</h3>
    <p>This Website may contain general information relating to various medical conditions and their treatment. All information presented on this Website is solely intended for people with haemophilia A who have been prescribed ADVATE (octocog alfa)/ADYNOVI (rurioctocog alfa pegol) in the UK. It is for educational and informational purposes only and it is not intended as a substitute for informed medical advice or recommendations from healthcare professionals. It should not be relied on as a basis for making any decision or taking any actions. If you have, or suspect having, any health problems, you should consult your general practitioner or other qualified healthcare providers.</p>
    <p>This Website may contain information about products that may not be available in all countries, or may be available under different trademarks, for different indications, in different dosages, or in different strengths. Nothing contained herein should be considered a solicitation, promotion or indication for any prescription drug including the ones under development.</p>
    <p>All information and references relating to handling, storage or use of products, to be implied from the relevant resource, are based on Takeda’s knowledge at the time such recommendations are made.</p>
    <p>The information provided on this Website does not constitute an offer of or solicitation for the purchase or disposal of, trading or any transaction in any Takeda securities, its affiliates and/or partners securities. Investors must not rely on this information for investment decisions.</p>

    <h3>3. Use of Contents and Intellectual Property Rights</h3>
    <p>The entire Contents of this Website is subject to the relevant trademark and copyright protection. The trademarks, logos and service marks (collectively, the “Trademarks”) used or mentioned on this site are registered and unregistered trademarks of Takeda, one of its affiliates and are protected by applicable law. You may download, display or print information from this Website solely for non-commercial personal use or for use in non-commercial education and scientific work. No modification for further reproduction of the content is permitted and all copyright and other proprietary notices contained herein shall be retained in all copies. The content may otherwise not be copied or used in any way without the prior written consent of Takeda or except as provided in these Terms of Use. This Website and all of its Contents are owned by Takeda, its affiliates and/or partners.</p>
    <p>No license to or right in the Contents or any trademarks, patents, designs, trade secrets, technologies, products, process and other proprietary rights of Takeda, its affiliates and/or partners is granted to or conferred upon you.</p>

    <h3>4. Information “as is”</h3>
    <p>Takeda will use reasonable efforts to include accurate and up-to-date information on this Website but makes no warranties or representations of any kind as to its accuracy or completeness. Takeda disclaims all warranties, expressed or implied, including warranties of merchantability or fitness for a particular purpose. Furthermore, Takeda neither warrants nor represents that your use of any of the Contents on this Website will not infringe rights of third parties, not owned by Takeda or any of its affiliates. You agree that access to and use of this Website and the Contents thereof is at your own risk.</p>

    <h3>5. Disclaimed liability</h3>
    <p>Neither Takeda nor any party involved in creating, producing or delivering this Website shall be liable for any damages or injury, including without limitation, direct, indirect, incidental, consequential, punitive, and special or other damages, lost opportunities, lost profit or any loss or damages of any kind arising out of access to, use of or inability to use this Website, or any errors or omissions in the Contents thereof. This limitation includes damages to, or for any viruses that may affect your computer equipment.</p>

    <h3>6. Data Privacy</h3>
    <p>Takeda respects the privacy of its Website users. Please refer to <a data-destination="Takeda.com Privacy Notice" href="https://www.takeda.com/en-gb/privacy-notice/">Takeda’s Privacy Notice</a> that explains user’s rights and responsibilities with respect to information that is disclosed on this Website.</p>

    <h3>7. Use of cookies</h3>
    <p>A cookie is a small piece of text that the websites you visit send to your browser. Cookies allow sites to remember information about your visit, which can make sites easier to revisit and more useful to you. This website uses cookies in order to collect anonymous information on the usage of this website. By using this website, you agree that Takeda can place these types of cookies on your device.</p>

    <h3>8. Links to other internet sites</h3>
    <p>This Website may contain links or references to other internet sites maintained by third parties over which Takeda has no control. Such links are provided merely as a convenience. Similarly, this Website may be accessed by from third party links over which Takeda has no control. Takeda makes no warranties or representations of any kind as to the truthfulness, accuracy, currency, completeness of any information contained or compliance with applicable law in such third-party internet sites and assumes no liability for any damages or injuries of any kind arising from such content or information. Inclusion of any third-party links does not imply any endorsement or recommendation by Takeda.</p>

    <h3>9. Use of Questions and Comments</h3>
    <p>Except for transmissions covered by our Privacy Statement or made by Healthcare Professionals pursuant to the applicable laws, EU Regulations and Codes, communications which you forward to this Website or otherwise to Takeda shall be deemed non-confidential and non-proprietary and Takeda shall not be required to respond. Subject to the applicable laws, Takeda and its affiliates reserve the right to use such communications for any purpose and to reproduce, publish and disclose this information to third parties without limitation or compensation. Takeda and its affiliates also are free to use without limitation and without compensation to you any ideas, concepts, know-how, techniques or the like contained in any communication you send to Takeda for any purpose, including, but not limited to, developing, manufacturing and marketing products.</p>

    <h3>10. Applicable law and place of jurisdiction</h3>
    <p>Any breaches of the terms and conditions in the Terms of Use, Takeda reserves the right, to take corrective action, including, but not limited to, preventing you from using the services offered by Takeda and removing any information, data and content communicated to this site, at any moment and without notice. These Terms of Use, the Contents of this Website and your use of it shall be governed by and construed in accordance with substantive laws of England and Wales. The courts of England and Wales shall have exclusive jurisdiction to settle any conflict arising out or in relation hereto, if not solved amicably.</p>
    <p>In case any part of these Terms of Use be held invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions shall not in any way be affected or impaired.</p>

    <h3>11. Update of the Terms of Use and other policies provided on this Takeda Website</h3>
    <p>Takeda reserves the right to alter or delete material from the Website at any time, and Takeda may, at any time, revise these Terms of Use and/or any other policies set forth in this Website by updating this posting. You are bound by any such revisions and should, therefore, periodically visit this page to review the then current Terms of Use and policies.</p>


  </div>
<%- include('includes/external-dialog.ejs') %>
<%- include('includes/patient-dialog.ejs') %>
</main>
<%- include('includes/footer.ejs') %>